<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <div class="form-container">
    <div class="row columns">
      <h1>Entrar</h1>
      <p>
        <a [routerLink]="['/register']">Criar Conta</a>
      </p>

      <label for="username">
        Nome de Usuário
        <input type="text" formControlName="username" id="username" name="username">
      </label>

      <div class="errors" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
        <div class="alert" *ngIf="loginForm.controls['username'].errors.required">
          Este campo é requerido.
        </div>
      </div>

      <label for="password">
        Senha
        <input type="password" formControlName="password" id="password">
      </label>
      <div class="errors" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        <div class="alert" *ngIf="loginForm.controls['password'].errors.required">Este campo é requerido.</div>
        <div class="alert" *ngIf="loginForm.controls['password'].errors.minlength">Este campo precisa ter pelo menos 8 caracteres.</div>
      </div>

      <input type="submit" class="button expanded" value="Enviar" [disabled]="!loginForm.valid">
    </div>
  </div>
</form>