<form [formGroup]="deviceForm" (ngSubmit)="save(deviceForm.value)">
  <div class="form-container">
    <div class="row columns">
      <h1>Criar Novo Dispositivo</h1>
      <p>
        <a [routerLink]="['/devices']">Voltar</a>
      </p>

      <label for="name">
        Nome
        <input type="text" name="name" id="name" formControlName="name">
      </label>
      <div *ngIf="!deviceForm.controls['name'].valid && deviceForm.controls['name'].touched">
        <div class="alert" *ngIf="deviceForm.controls['name'].errors.required">Este campo é requerido.</div>
        <div class="alert" *ngIf="deviceForm.controls['name'].errors.minlength">Este campo precisa ter pelo menos 3 caracteres.</div>
      </div>

      <label for="type">
        Tipo
        <input type="text" name="type" id="type" formControlName="type">
      </label>
      <div *ngIf="!deviceForm.controls['type'].valid && deviceForm.controls['type'].touched">
        <div class="alert" *ngIf="deviceForm.controls['type'].errors.required">Este campo é requerido.</div>
      </div>

      <input type="submit" class="button expanded" value="Enviar" [disabled]="!deviceForm.valid">
    </div>
  </div>
</form>

