<div class="grid-container list-container">
  <h1>Meus Dispositivos</h1>
  <p>
    <a class="hollow button small" [routerLink]="['/devices/create']">
      <i class="fi-plus"></i> Adicionar Novo Dispositivo
    </a>

    <a class="hollow button small alert" (click)="logout()">
      <i class="fi-power"></i> Sair
    </a>
  </p>
  <div class="grid-x grid-margin-x">
    <div class="cell small-4" *ngFor="let d of devices">
      <single-device [device]="d"></single-device>
    </div>
  </div>
</div>